<p id="notice"><%= notice %></p>

<%= link_to 'Create New Wall', new_wall_path, { :class => "btn btn-default" } if user_signed_in? %>

<% @walls.each do |wall| %>
  <div class="field">
    <h3><%= link_to "#{wall.wall_name}", wall %></h3>
    <h4>Author: <%= User.find(wall.user_id).user_nickname %></h4>
  </div>
<% end %>
